.card {
  height: 361px;
  width: 282px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

