.card__button_delete {
  border: none;
  background-color: transparent;
  background-image: url(../../../../images/delete-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 18px;
  max-height: 19px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
}
