/* Стили normalize.css*/
@import url(./vendor/normalize.css);

/*Шрифты*/
@import url(./vendor/fonts.css);

/* Стили page*/
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);

/*Button*/
@import url(./blocks/button/button.css);

/*Header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);

/*Profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-edit/profile__info-edit.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__button/_add/profile__button_add.css);
@import url(./blocks/profile/__button/_edit/profile__button_edit.css);

/*Cards*/
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__button/card__button.css);
@import url(./blocks/card/__button/_like/card__button_like.css);
@import url(./blocks/card/__button/_like/_active/card__button_like_active.css);
@import url(./blocks/card/__button/_delete/card__button_delete.css);
@import url(./blocks/card/__like/card__like.css);

/*Footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/*Popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_photo.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_photo/popup__container_photo.css);
@import url(./blocks/popup/__button/_close/popup__button_close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__button/_save/popup__button_save.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__info-status/popup__info-status.css);
@import url(./blocks/popup/__info-image/popup__info-image.css);
@import url(./blocks/popup/__title-status/popup__title-status.css);

/*Error*/
@import url(./blocks/error/error.css);
@import url(./blocks/error/_visible/error_visible.css);

/*Login*/
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__button/login__button.css);

/*Register*/
@import url(./blocks/register/register.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__login-link/register__login-link.css);
